.header
{
  display: flex;
  flex-direction: row;
  height: 57px;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 219, 219);
  z-index: 100;
  
}

.left-part
{
  display: flex;
  align-items: center;
}

.center-part
{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.right-part
{
  display: flex;
  align-items: center;
  width: 215px;
  justify-content: space-between;
  flex-shrink: 0;
}

.searchbox
{
  height: 36px;
  flex: 1;
  border: none;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
  padding-left: 14px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccc;
  border-style: solid;
  border-radius: 2px;
  width: 0;
}
.searchbox::placeholder
{
  font-family: roboto,arial;
  font-size: 16px;
}

.hamburger-logo
{
  height: 23px;
  margin-left: 24px;
  margin-right: 25px;
}

.youtube-logo
{
  height: 20px;
}

.search-logo
{
  height: 24px;
}

.voicesearch-logo
{
  height: 24px;
  width: 24px;
  
}

.voicesearch-button
{
  height: 36px;
  width: 36px;
  border: none;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.search-button{
  margin-right: 10px;
  width: 64px;
  height: 40px;
  background-color: #f8f8f8;
  border-width: 1px;
  border-color: #cccc;
  border-style: solid;
  margin-left: -2px;
  padding-top: 7px;
}

.upload-logo
{
  height: 24px;
}

.ytapps-logo
{
  height: 24px;

}

.notification-logo
{
  height: 24px;
  width: 24px;
}

.my-photo
{
  border-radius: 50px;
  height: 32px;
  width: 32px;
  margin-right: 25px;
}

.notifications-icon-div{
  position: relative;
}



.notifications-count{
  background-color: rgb(200, 0, 0);
  color: white;
  position: absolute;
  top: -4px;
  right: -7px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: roboto,arial;
  font-size: 10px;
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}