.sidebar
{
  background-color: white;
  position: fixed;
  left: 0px;
  top: 55px;
  bottom: 0px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-boxes
{
  width: 72px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-boxes:hover
{
  background-color: rgba(204, 204, 204, 0.3);
}

.sidebar-boxes img
{
  width: 24px;
  margin-bottom: 6px;
}

.sidebar-boxes div
{
  font-family: roboto,arial;
  color: black;
  font-size: 10px;
}
  